// fonts
$fontPrincipal: Roboto, sans-serif;

// color palett
$bgBody: #f5f6fa;
$bgHeader:#182C61;
$BgBtn:#44bd32;
$BgBtnHover: #4cd137;
$fontColor: #fff;

// breakepoints
$mobile: 767px;
$tablet: 1023px;